.search-form-nav {
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    font-size: 16px;
    margin-top: 0;
    border-radius: 6px;
    display: inline-block;
}

.search-btn-nav {
    background-color: #fff;
    border: none;
    position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 3px;
    font-size: 16px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.search-btn-nav:hover {
    color: #fff;
    background-color: #dddddd;
}

.search-content-nav {
    outline: none;
    box-shadow: none;
    border: none;
    display: inline-block;
    background: transparent;
    padding: 3px 45px 3px 15px;
}